@model SyncfusionProof.Models.HomeModel

@{
  ViewBag.Title = "Empty Grid";
}

@*Empty Grid*@
<div id="GridContainer">
  @Html.DisplayForModel("EmptyGrid")
</div>

@section scripts {
  <script id="Refresh" type="text/x-jsrender">
    <a href="#" class="e-toolbaricons refresh" />
  </script>
}
