@model SyncfusionProof.Data.Models.HomeModel

@{
  ViewBag.Title = "Empty Grid";
}

<h2>Inline Editable Grid Without Data at Load Time</h2>
<ul>
  <li>Loading the grid initially full screen appears to work.</li>
  <li>Make the window smaller and add a row. The new row cannot be seen until you make the window full screen again, or refresh the page.</li>
</ul>

<div id="GridContainer">
  @Html.DisplayForModel("EmptyGrid")
</div>

@section scripts {
  <script id="Refresh" type="text/x-jsrender">
    <a href="#" class="e-toolbaricons refresh" />
  </script>
}
