@model IEnumerable<SyncfusionProof.Models.TestModel>

  @{
    ViewBag.Title = "Home Page";
  }

  <div class="well">
    @*grid on the page*@
    <div class="row">
      <div class="cols-sample-area">
        @Html.DisplayForModel("TestModel")
      </div>
    </div>

    @*grids inside tabs*@
    <div class="row">
      <div class="cols-sample-area">
        <div id="TestTabs">
          <ul>
            <li><a href="#TabOne">Tab One</a></li>
            <li><a href="#TabTwo">Tab Two</a></li>
          </ul>
          <div id="TabOne">
            @Html.DisplayForModel("TestModel")
          </div>
          <div id="TabTwo">
            @Html.DisplayForModel("TestModel")
          </div>
        </div>
      </div>
    </div>
  </div>

  @section scripts {
    @Scripts.Render("~/Bundles/Syncfusion")
  }
