@model IEnumerable<SyncfusionProof.Models.TestModel>

@{
  ViewBag.Title = "Home Page";
}

<div id="GridContainer">
  @Html.DisplayForModel("TestModel")
</div>

@section scripts {
  @Scripts.Render("~/Bundles/Syncfusion")
}
