@model IEnumerable<SyncfusionProof.Models.TestModel>

@{
  ViewBag.Title = "Home Page";
}

<div class="well">
  <div class="cols-sample-area">
    @Html.DisplayForModel("TestModel")
  </div>
</div>

@section scripts {
  @Scripts.Render("~/Bundles/Syncfusion")
}
