@model SyncfusionProof.Data.Models.HomeModel

@using Syncfusion.JavaScript.Models

<div id="MultiSelectGridUndoAlert" class="alert alert-danger" role="alert" style="display:none;">
  <strong>Record(s) deleted.</strong>
  <a id="MultiSelectGridUndoLink" href="#" class="alert-link btn btn-default">Undo</a>
</div>

@(Html.EJ().Grid<SyncfusionProof.Data.Models.TestModel>("MultiSelectGrid")
  .Datasource(Model.TestModels)
  .AllowSelection()
  .SelectionType(SelectionType.Multiple)
  .AllowSorting()
  .AllowPaging()
  .AllowResizing()
  .AllowScrolling()
  .ScrollSettings(x => { x.Width("100%"); x.Height("100%"); })
  .MinWidth(500)
  .IsResponsive()
  .EditSettings(x => { x.AllowAdding(); x.AllowDeleting(); })
  .ToolbarSettings(x =>
  {
    x.ShowToolbar().ToolbarItems(y =>
    {
      y.AddTool(ToolBarItems.Search);
      y.AddTool(ToolBarItems.Add);
      y.AddTool(ToolBarItems.Edit);
      y.AddTool(ToolBarItems.Delete);
    });
  })
  .Columns(x =>
  {
    x.HeaderText("Manage").Commands(y =>
    {
      y.Type(UnboundType.Edit).ButtonOptions(new ButtonProperties { ContentType = ContentType.ImageOnly, PrefixIcon = "e-icon e-edit", Click = "Utility.Syncfusion.Grid.MultiSelectGrid.editRow" }).Add();
      y.Type(UnboundType.Delete).ButtonOptions(new ButtonProperties { ContentType = ContentType.ImageOnly, PrefixIcon = "e-icon e-delete", Click = "Utility.Syncfusion.Grid.MultiSelectGrid.removeRow" }).Add();
    }).Add();

    x.Field("OrderId").HeaderText("Order ID").IsIdentity(true).IsPrimaryKey(true).Add();
    x.Field("CustomerId").HeaderText("Customer ID").Add();
    x.Field("EmployeeId").HeaderText("Employee ID").Add();
    x.Field("Freight").HeaderText("Freight").Format("{0:C}").Add();
    x.Field("FreightDetails.Freight2").HeaderText("Freight2").Format("{0:C}").Add();
    x.Field("OrderDate").HeaderText("Order Date").Format("{0:MM/dd/yyyy}").Add();
    x.Field("ShipCity").HeaderText("Ship City").Add();
    x.Field("ShipState").HeaderText("Ship State").Add();
  })
  .ClientSideEvents(x =>
  {
    x.ToolbarClick("Utility.Syncfusion.Grid.MultiSelectGrid.toolbarClick");
  })
)
