@{
  ViewBag.Title = "Report for Customer";
}

<h2>@ViewBag.Title</h2>

<div class="form-group">
  <label>Customer Id</label>
  <input class="form-control" type="text" id="txtCustomerId" name="CustomerId" placeholder="Customer Id" value="" />
</div>

<button class="btn btn-primary" name="ViewReport" id="btnViewReport">View Report</button>

<div>
  @(Html.EJ().ReportViewer("ReportModelBoundWithParameters")
    .ProcessingMode(Syncfusion.JavaScript.ReportViewerEnums.ProcessingMode.Local)
    .ReportPath("~/Reports/ReportModelBoundWithParameters.rdlc")
    .ReportServiceUrl(VirtualPathUtility.ToAbsolute("~/api/ReportModelBoundWithParameters"))
  )
</div>

@section scripts {
  @*@Scripts.Render("~/bundles/report/withparameters")*@

  @if (HttpContext.Current.IsDebuggingEnabled)
  {
    <script src="~/Scripts/Utility/ReportViewer.js"></script>
  }
  else
  {
    //use generated bundles
  }
}
