@model IList<SyncfusionProof.Data.Models.TestModel>

@{
  ViewBag.Title = string.Format("Report for Customer Id: {0}", Model.First().CustomerId);
}

<h2>@ViewBag.Title</h2>

<div>
  @(Html.EJ().ReportViewer("ReportWithSubreport")
    .ProcessingMode(Syncfusion.JavaScript.ReportViewerEnums.ProcessingMode.Local)
    .DataSources(x =>
    {
      x.Name("TestModel").Value(Model).Add();
    })
    .ReportPath("~/Reports/ReportWithSubreport/ReportWithSubreport.rdlc")
    .ReportServiceUrl(VirtualPathUtility.ToAbsolute("~/api/ReportWithSubreport"))
  )
</div>
