@model IList<SyncfusionProof.Data.Models.TestModel>

@{
  ViewBag.Title = string.Format("Report for Customer Id: {0}", Model.First().CustomerId);
}

<h2>@ViewBag.Title</h2>

<div>
  @(Html.EJ().ReportViewer("ReportModelBoundNoParameters")
    .ProcessingMode(Syncfusion.JavaScript.ReportViewerEnums.ProcessingMode.Local)
    .DataSources(x =>
      {
        x.Name("TestModel").Value(Model).Add();
      })
    .ReportPath("~/Reports/ReportModelBoundNoParameters.rdlc")
    .ReportServiceUrl(VirtualPathUtility.ToAbsolute("~/api/ReportModelBoundNoParameters"))
  )
</div>
