@*this is not officially supported in syncfusion reports*@
//http://www.syncfusion.com/support/directtrac/incidents/149009

@model IList<SyncfusionProof.Data.Models.TestModel>

@using SyncfusionProof.Data.Models;

@{
  ViewBag.Title = string.Format("Report for Customer Id: {0}", Model.First().CustomerId);
}

<h2>@ViewBag.Title</h2>

<div>
  @(Html.EJ().ReportViewer("ReportNestedModels")
    .ProcessingMode(Syncfusion.JavaScript.ReportViewerEnums.ProcessingMode.Local)
    .DataSources(x =>
      {
        //x.Name("CustomerDetailsModel").Value(Model.FirstOrDefault().FreightDetails as IList<CustomerDetailsModel>).Add();
        x.Name("TestModel").Value(Model).Add();
      })
    .ReportPath("~/Reports/ReportNestedModels.rdlc")
    .ReportServiceUrl(VirtualPathUtility.ToAbsolute("~/api/ReportNestedModels"))
  )
</div>
