body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding left/right to keep content from hitting the edges */
/* Set padding top to stop nav bar from covering up the body for certain smaller screen sizes */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/* Took this out since it was causing confusion with layouts inside syncfusion editable grids. */
/*input, select, textarea {
    max-width: 280px;
}*/

/* Allow 100% width for text areas inside of syncfusion grids */
div.e-field > textarea {
  width: 100%;
  max-width: none;
}

/* Refresh button for grids */
.refresh {
  background-position: -76px 3px;
  background-image: url("ej/web/common-images/icons-gray.png");
}

.refresh:hover {
  background-image: url("ej/web/common-images/icons-white.png");
}

.e-reportviewer {
  height: 1080px;
}

/*
  The bootstrap tabs override the box-sizing property of the grids and changes it to border-box.
  To handle this, we change it back to content-box.
  https://www.syncfusion.com/support/directtrac/incidents/166542

  The width setting fixes grid width rendering problems in bootstrap tabs. We want all grids
  on the site to be width: auto anyway.
  Currently, the width setting breaks other things. I'm working with Syncfusion on this
  problem via the incident report above.
*/
.e-grid {
  /*width: auto !important;*/
  /*width: 100% !important;*/
  -moz-box-sizing: content-box; 
  -webkit-box-sizing: content-box; 
  box-sizing : content-box; 
}
